body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #f5f5f5;
  color: #4d4d4d;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

ul{
    list-style: none;
}

nav{
    background: #1b151d;
    box-shadow: 0 1px 1px rgba(97, 15, 15, 0.2);
    font-size: 15px;
    ul{
        margin: 0;
        padding: 10px;
        li{
            display: inline-block;
            padding: 10px;
            border-right: 1px solid #cac8c8;
            width: 100px;
            text-align: center;
        }
        li:last-child{
            border-right: none;
        }
    }
    a{
        text-decoration: none;
        color: #fff;
        text-transform: capitalize;
    }
}